# UI details
UI_BASE_URL=http://code-metrics.localhost:3001
CORS_ORIGIN=https://code-metrics.localhost:3001

# Auth details
AUTHENTICATOR_IMPL=file
ACCESS_TOKEN_SECRET=changeme
ACCESS_TOKEN_TTL=1h

# Client-side session store method (one of: cookie, sessionstorage)
CLIENT_SESSION_STORE=cookie

# Cognito authenticator settings
#AUTHENTICATOR_IMPL=cognito
#COGNITO_USER_POOL_ID=changeme
#COGNITO_CLIENT_ID=changeme

# OIDC settings
#AUTHENTICATOR_IMPL=oidc
#OIDC_ISSUER_BASE_URL=http://localhost:8086/realms/codemetrics
#OIDC_CLIENT_ID=codemetrics
#OIDC_CLIENT_SECRET=changeme
#OIDC_USER_CLAIM=sub
#OIDC_SCOPES=openid profile email
#OIDC_AUDIENCE=codemetrics
#OIDC_USE_PKCE=false

# Whether to log response bodies
LOG_RESPONSE_BODY=false

# set to 0 (OFF), 1 (DEBUG) or 2 (VERBOSE)
LOG_LEVEL=1

# number of API retries on error
#API_RETRY_LIMIT=5

# Override for *-config.json files (default = current dir)
#CONFIG_DIR=

# Configuration loading options - useful for development
#CONFIG_AUTO_RELOAD=false
#CONFIG_REFRESH_MS=5000

# Whether the cache is enabled (requires datastore)
LOOKUP_CACHE_ENABLED=true

# The datastore implementation (one of: inmem, dynamodb, mongodb, localdb)
DATASTORE_IMPL=inmem

# DynamoDB datastore settings
#AWS_REGION=eu-west-1
#DATABASE_NAME=CodeMetrics

# MongoDB datastore settings
#DATABASE_URI=mongodb://code-metrics:changeme@localhost:27017
#DATABASE_NAME=code-metrics

# Local DB datastore settings
#DATASTORE_IMPL=localdb
#DATASTORE_PATH=./data

# Secret resolver settings
#SECRET_RESOLVER_IMPL=file

# Coverage thresholds
#COVERAGE_THRESHOLD_DANGER=30
#COVERAGE_THRESHOLD_WARNING=80
