node_modules

# test outputs
coverage*
lcov
lcov-backend-merged.info

# env files
.env
.env.local
.env.*.local

# config files
.config/*
metadata.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

server.crt
server.key

lambda/codemetrics-lambda.zip

# database files
data/*.db
